<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
        <add assembly="NLog.Targets.Loki"/>
    </extensions>

    <targets>
        <target name="logconsole" xsi:type="Console" />
        <target 
        name="loki" 
        xsi:type="loki"
        batchSize="200"
        taskDelayMilliseconds="500"
        endpoint="http://192.168.99.100:3100"
        orderWrites="true"
        compressionLevel="noCompression"
        layout="${level}|${message}${onexception:|${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}|source=${logger}"
        eventPropertiesAsLabels="false">
        <!-- 
            username="myusername"
            password="secret"
            proxyUrl="http://proxy:8888"
            proxyUser="username"
            proxyPassword="secret" 
        -->

        <!-- Prefer using a JsonLayout as defined below, instead of using a layout as defined above -->
        <layout xsi:type="JsonLayout" includeEventProperties="true">
            <attribute name="level" layout="${level} "/>
            <attribute name="source" layout="${logger}" />
            <attribute name="message" layout="${message}" />
            <attribute name="exception" encode="false">
            <layout xsi:type="JsonLayout">
                <attribute name="type" layout="${exception:format=type}" />
                <attribute name="message" layout="${exception:format=message}" />
                <attribute name="stacktrace" layout="${exception:format=tostring}" />
            </layout>
            </attribute>
        </layout>

        <!-- Grafana Loki requires at least one label associated with the log stream. Make sure you specify at least one label here. -->
        <label name="app" layout="hello-world-service" />
        <label name="server" layout="${hostname:lowercase=true}" />
        </target>
    </targets>

    <rules>
        <!-- <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Debug" writeTo="logconsole" />
        <logger name="*" minlevel="Error" writeTo="logconsole" /> -->
        <logger name="*" minLevel="Info" writeTo="loki" />
        <!-- <logger name="*" minLevel="Debug" writeTo="loki" />
        <logger name="*" minLevel="Error" writeTo="loki" /> -->
    </rules>
</nlog>